/* Estilos nav */

.navbar-nav .nav-link.active {
    background: linear-gradient(
        82.3deg,
        rgba(150, 93, 233, 1) 10.8%,
        rgba(99, 88, 238, 1) 94.3%
    );
    color: #ffffff !important;
    border-radius: 999px;
    padding: 0.35rem 0.9rem;
}

.navbar-nav .nav-link.active:hover {
    color: #ffffff !important;
}

/* Estilos index */

#nosotros img,
#objetivos img,
#futuro img {
    border-radius: 12px;
}

/* Estilos y animaci贸n textos */

.heading-typewriter {
    background: linear-gradient(
        82.3deg,
        rgba(150, 93, 233, 1) 10.8%,
        rgba(99, 88, 238, 1) 94.3%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

/* Estilos y animaci贸n del bot贸n "Comenzar" */

.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.0rem;
  background: var(--bs-dark);
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

/* Estilos y animaci贸n de las card */

.feature-card {
  position: relative;
  overflow: hidden;
  background-color: var(--bs-dark);
  color: #ffffff;
  border: none;
  border-radius: 1rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.feature-card .card-body {
  position: relative;
  z-index: 1;
  background: transparent;
}

.feature-card .card-title,
.feature-card .card-text,
.feature-card .feature-icon i {
  color: #ffffff
}

.feature-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%);
  transition: transform 0.475s;
  z-index: 0;
}

.feature-card:hover::before {
  transform: scaleX(1);
}

.feature-card:hover {
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}